<a href="https://colab.research.google.com/github/rebuyguy2000/ex-date-payday-public/blob/main/fmpcloud_price_hist_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# JSON data to temp json to normalize to csv 
# https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas
# https://www.codespeedy.com/how-to-download-files-from-url-using-python/

import pandas as pd
import json 
import csv
import requests

In [ ]:
# Retrieve json data from fmpcloud
# use key and symbol to customize url from fmpcloud.io
# price history for specified date range and symbol

my_key = 'f9dc1e74864fc4dd4b359edc4cd2f0e9'
symbol = 'fmo'
url = 'https://fmpcloud.io/api/v3/historical-price-full/'+ symbol +'?from=2018-03-12&to=2021-03-12&apikey=' + my_key

r = requests.get(url)
print(url)

https://fmpcloud.io/api/v3/historical-price-full/fmo?from=2018-03-12&to=2021-03-12&apikey=f9dc1e74864fc4dd4b359edc4cd2f0e9

In [ ]:
# create temp file and write data from request

with open(symbol + ".json", 'wb') as f:
    f.write(r.content)

In [ ]:
#load temp json object

with open(symbol + '.json') as f:
    d = json.load(f)

In [ ]:
# normalize the temp json into new dataframe

price_hist = pd.json_normalize(d['historical'])
price_hist.head(5)

         date  open   high  ...     vwap         label  changeOverTime
0  2021-03-12  9.86  10.08  ...  9.93000  March 12, 21         0.00507
1  2021-03-11  9.70  10.03  ...  9.82333  March 11, 21         0.00412
2  2021-03-10  9.54   9.66  ...  9.56000  March 10, 21         0.00629
3  2021-03-09  9.59   9.67  ...  9.45000  March 09, 21        -0.01668
4  2021-03-08  9.38   9.60  ...  9.49000  March 08, 21         0.01173

[5 rows x 13 columns]

In [ ]:
# write file to colab drive directory (folder icon on left side bar)

price_hist.to_csv(symbol + '_history.csv',index=False)