<a href="https://colab.research.google.com/github/rebuyguy2000/ex-date-payday-public/blob/main/fmpcloud_dividend_hist_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# JSON data to temp json to normalize to csv 
# https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas
# https://www.codespeedy.com/how-to-download-files-from-url-using-python/

import pandas as pd
import json 
import csv
import requests

In [ ]:
# Retrieve json data from fmpcloud
# use key and symbol to customize url from fmpcloud.io
# all dividends paid for given symbol

my_key = 'f9dc1e74864fc4dd4b359edc4cd2f0e9'
symbol = 'fmo'
url = 'https://fmpcloud.io/api/v3/historical-price-full/stock_dividend/'+ symbol +'?apikey=' + my_key

r = requests.get(url)
print(url)

https://fmpcloud.io/api/v3/historical-price-full/stock_dividend/fmo?apikey=f9dc1e74864fc4dd4b359edc4cd2f0e9

In [ ]:
# create temp file and write data from request

with open(symbol + ".json", 'wb') as f:
    f.write(r.content)

In [ ]:
#load temp json object

with open(symbol + '.json') as f:
    d = json.load(f)

In [ ]:
# normalize the temp json into new dataframe

div_hist = pd.json_normalize(d['historical'])
div_hist.head(5)

         date            label  ...  paymentDate  declarationDate
0  2021-02-11  February 11, 21  ...   2021-02-26       2021-02-01
1  2020-11-12  November 12, 20  ...   2020-11-30       2020-11-02
2  2020-08-13    August 13, 20  ...   2020-08-31       2020-08-03
3  2020-05-14       May 14, 20  ...   2020-05-29       2020-05-01
4  2020-02-13  February 13, 20  ...   2020-02-28       2020-02-03

[5 rows x 7 columns]

In [ ]:
# write file to colab drive directory (folder icon on left side bar)

div_hist.to_csv(symbol + '_dividends.csv',index=False)